## Aula 01

Bibliotecas

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Listas, Dicionários e Dataframes

- Variável

In [ ]:
a = 'Cesar'
a

'Cesar'

In [ ]:
b = 3
b

3

In [ ]:
c = True
c

True

- Listas

In [ ]:
lista1 = [1, 'Cesar', 3, False]
lista1

[1, 'Cesar', 3, False]

In [ ]:
lista1[1]

'Cesar'

- Dicionário

In [ ]:
dicionario = {'lista1': lista1, 'lista2' : [30, 20, True]}

In [ ]:
dicionario

{'lista1': [1, 'Cesar', 3, False], 'lista2': [30, 20, True]}

In [ ]:
dicionario['lista2']

[30, 20, True]

In [ ]:
dicionario['lista2'][0:2]

[30, 20]

- Dataframe

In [ ]:
dados_salarios = pd.DataFrame({'nome' : ['rogerinho', 'rony', 'severina'],
 'salario' : [1500, 50000, 5000]})

In [ ]:
dados_salarios

        nome  salario
0  rogerinho     1500
1       rony    50000
2   severina     5000

Carregar Dados

In [ ]:
dados = pd.read_csv('scouts.csv')

In [ ]:
dados

,atleta_id,apelido,rodada_id,ano,clube_id,clube,posicao_id,posicao,jogos_num,pontos_num,...,FC,GC,CA,CV,SG,DD,DP,GS,status_id,status
0,87552,Vitor Bueno,27,2015,277,Santos,4,mei,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
1,87552,Vitor Bueno,28,2015,277,Santos,4,mei,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
2,87552,Vitor Bueno,29,2015,277,Santos,4,mei,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
3,87552,Vitor Bueno,30,2015,277,Santos,4,mei,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
4,87552,Vitor Bueno,31,2015,277,Santos,4,mei,2,-0.3,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29715,82943,Matheus Ribeiro,13,2015,293,Atlético-PR,2,lat,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
29716,82943,Matheus Ribeiro,14,2015,293,Atlético-PR,2,lat,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
29717,82943,Matheus Ribeiro,15,2015,293,Atlético-PR,2,lat,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
29718,86783,Henrique,6,2015,294,Coritiba,2,lat,2,-4.8,...,2,0,1,0,0,0,0,0,0,NaN
29719,86783,Henrique,7,2015,294,Coritiba,2,lat,3,-2.3,...,2,0,0,0,0,0,0,0,0,NaN